<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/layui/css/layui.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <script src="~/lib/jquery.js"></script>
    <script src="~/lib/layui/layui.js"></script>
    <script src="~/lib/jscookie.js"></script>
    <script src="~/js/home.js"></script>
</head>
<body>
    <input id="islogin" hidden value="@(ViewBag.IsLogin)" />
    <div id="unlogin-menu" class="layui-header menu">
        <ul class="layui-nav right-menu" lay-filter="">
            <li class="layui-nav-item login-menu"><a href="" id="login-link">Sign In</a></li>
            <li class="login-menu menu-text">or</li>
            <li class="layui-nav-item login-menu"><a href="" id="reg-link">Sign Up</a></li>
        </ul>
    </div>

    <div id="logined-menu" class="layui-header menu" hidden>
        <ul class="layui-nav func-menu" lay-filter="">
            <li class="layui-nav-item login-menu"><a href="" id="create">Create a quiz</a></li>
            <li class="layui-nav-item login-menu"><a href="" id="quiz-manage">Quiz list</a></li>
            <li class="layui-nav-item login-menu"><a href="" id="answer-manage">View answers</a></li>
        </ul>
        <div id="userdata">
            <p>Welcome back, @ViewBag.Username&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/home/logout" id="logout">Sign out</a></p>
        </div>
    </div>

    @RenderBody()

    <div id="register" hidden>
        <form class="layui-form" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">Username：</label>
                <div class="layui-input-block">
                    <input type="text" name="username" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">Password：</label>
                <div class="layui-input-block">
                    <input type="password" name="password" class="layui-input">
                </div>
            </div>
            <button lay-submit class="layui-btn" id="reg-submit" lay-filter="reg">Register</button>
        </form>
    </div>

    <div id="login" hidden>
        <form class="layui-form" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">Username：</label>
                <div class="layui-input-block">
                    <input type="text" name="username" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">Password：</label>
                <div class="layui-input-block">
                    <input type="password" name="password" class="layui-input">
                </div>
            </div>
            <button lay-submit class="layui-btn" id="login-submit" lay-filter="login">Log in</button>
        </form>
    </div>
</body>
</html>
