<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/layui/css/layui.css" />
    <script src="~/lib/jquery.js"></script>
    <script src="~/lib/layui/layui.js"></script>
    <script src="~/lib/jscookie.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
