<link rel="stylesheet" href="~/css/createsurvey.css" />
<script src="~/js/createsurvey.js"></script>
<div id="questionBox">
    <div id="q1" class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label" id="title">问题1：</label>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">问题名称：</label>
            <div class="layui-input-block">
                <input type="text" id="quesName" placeholder="请输入问题名称" autocomplete="off" class="layui-input"  >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">答案类型：</label>
            <div class="layui-input-block">
                <select name="answerType" id="answerType" onclick="ShowChoiceBox(this)">
                    <option value="">请选择</option>
                    <option value="0">文本</option>
                    <option value="1">数字</option>
                    <option value="2">单选</option>
                    <option value="3">多选</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" id="optionInput">
            <label class="layui-form-label">选项填写：</label>
            <div class="layui-input-block" id="options">
                <div id="o1">
                    <input type="text" id="optionText" placeholder="请输入" autocomplete="off" class="layui-input" layui-ignore>
                    <input type="text" id="relatedQues" placeholder="关联题号" autocomplete="off" class="layui-input" layui-ignore>
                </div>
            </div>
            <button onclick="RemoveOption(this)">removeOption</button>
            <button onclick="AddOption(this)">addOption</button>
        </div>
    </div>
</div>
<button id="addQues">增加问题</button>
<button id="removeQues"> 删除问题</button>
<button class="layui-btn" id="submit">储存问卷</button>