<script src="~/js/index.js"></script>
<link rel="stylesheet" href="~/css/index.css" />
<div id="index-frame">
    <div id="background">
        <div id="quizBlock" hidden>
            <div>
                <p id="popQuizTitle">Popular Quiz:</p>
            </div>
            <div id="quizList">
                <div class="quiz">

                </div>
            </div>
        </div>
    </div>
</div>