<link rel="stylesheet" href="~/css/index.css" />
<script src="~/js/index.js"></script>
<button id="create"></button>
<input type="text" id="surveyNo" />
<button id="doSurvey">submit</button>
<a href="/home/createquestionnaire">createsurvey</a>
<a href="/home/survey/1">doSurvey1</a>
