<link rel="stylesheet" href="~/css/index.css" />
<script src="~/js/index.js"></script>
<button id="create" class="layui-btn">Create a questionnaire</button>
<br />
<label>Please input a questionnaire ID:</label>
<input type="text" id="surveyNo" />
<button id="doSurvey" class="layui-btn">Do a survey</button>
<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
        <tr>
            <th>Ques.ID</th>
            <th>Ques.Name</th>
            <th>Ques.Creator(Temporarily not exist)</th>
        </tr>
    </thead>
    <tbody id="quesList">
        @Html.Raw(ViewBag.QuesList)
    </tbody>
</table>
