<script src="~/js/index.js"></script>
<link rel="stylesheet" href="~/css/index.css" />
<div id="index-frame">
    <div id="background">
        <div id="quizBlock">
            <div>
                <p id="popQuizTitle">Popular Quiz:</p>
            </div>
            <div id="quizList">
                <div class="quiz">

                </div>
            </div>
            <div>
                <p>Wanna make your own quiz?</p>
                <p>Register or Sign in to do this!</p>
            </div>
        </div>
    </div>
</div>