<link rel="stylesheet" href="~/css/index.css" />
<script src="~/js/index.js"></script>

<div id="menu" class="layui-header">
    <ul class="layui-nav right-menu" lay-filter="">
        <li class="layui-nav-item login-menu"><a href="">Sign In</a></li>
        <li class="login-menu menu-text">or</li>
        <li class="layui-nav-item login-menu"><a href="">Sign Up</a></li>
    </ul>
</div>

<div id="index-frame">
    <div id="background">
        <div id="quizBlock">
            <div>
                <p id="popQuizTitle">Popular Quiz:</p>
            </div>
            <div id="quizList">
                <div class="quiz">

                </div>
            </div>
            <div>
                <p>Wanna make your own quiz?</p>
                <p>Register or Sign in to do this!</p>
            </div>
        </div>
    </div>
</div>





<div hidden>
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>Ques.ID</th>
                <th>Ques.Name</th>
                <th>Ques.Creator(Temporarily not exist)</th>
            </tr>
        </thead>
        <tbody id="quesList">
            @Html.Raw(ViewBag.QuesList)
        </tbody>
    </table>
</div>

<div class="leftside" hidden>
    <p id="notice">Under Construction...</p>
    <p id="notice">Temporarily unable to sign up on sign on.</p>
    <button id="create" class="layui-btn">Create a questionnaire</button>
    <br />
    <label>Please input a questionnaire ID to start a survey:</label>
    <input type="text" id="surveyNo" />
    <button id="doSurvey" class="layui-btn">Do a survey</button>
    <button id="adminPage" class="layui-btn">Answer list page</button>
</div>

<div id="register" hidden>
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">Username：</label>
            <div class="layui-input-block">
                <input type="text" id="username" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Password：</label>
            <div class="layui-input-block">
                <input type="text" id="password" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <button class="layui-btn" id="submit">Register</button>
    </form>
</div>

<div id="login" hidden>
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">Username：</label>
            <div class="layui-input-block">
                <input type="text" id="username" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Password：</label>
            <div class="layui-input-block">
                <input type="text" id="password" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <button class="layui-btn" id="submit">Log in</button>
    </form>
</div>