<script src="~/js/quiz_manage.js"></script>
<div>
    <table class="layui-table">
        <colgroup>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>Quiz ID</th>
                <th>Quiz Name</th>
                <th>Quiz URL</th>
                <th>Do this Quiz</th>
                <th>Quiz Edit</th>
            </tr>
        </thead>
        <tbody id="quizList">

        </tbody>
    </table>
    <button id="homepage" class="layui-btn">Back to homepage</button>
</div>

<table hidden>
    <tr id="quizRow" class="quiz-row">
        <th class="quesID"></th>
        <th class="quesName"></th>
        <th class="quesURL"></th>
        <th><button class="layui-btn" onclick="GotoQuiz(this)">Do this quiz</button></th>
        <th><button class="layui-btn" onclick="EditQuesGroup(this)">Edit</button></th>
    </tr>
</table>